.container {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.ep_card {
  width: 30%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: rgb(60, 62, 68);
  border-radius: 0.5rem;
  margin: 0.75rem;
  gap: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.ep_card h2 {
  cursor: pointer;
  font-size: 1.8rem;
}

.ep_card h2:hover {
  color: rgb(255, 152, 0);
}


.ep_card p {
  font-weight: 500;
  color: #afa2a2;
}

.ep_card span {
  color: #fff
}

.card-details p {
  color: #fff;
}

.card-details p strong {
  color: #afa2a2;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-link {
  display: inline-block;
  padding: 0.3rem 0.6rem;
  margin: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #333;
  cursor: pointer;
}


.active {
  background-color: #333;
  color: #fff;
}

/* .ep_card p img {
  width: 2rem;
  margin: 2px;
} */



@media (min-width: 992px) and (max-width: 1199.98px) {
  .ep_card {
    width: 100%;
  }

}

@media (max-width: 767.98px) {
  .ep_card {
    width: 100%;
  }
}